@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

body {
  min-height: 100vh;
  max-width: 100%;
  background: linear-gradient(45deg, hsla(197, 74%, 43%, 1) 27%, hsla(27, 81%, 58%, 1) 98%);
  font-family: 'Poppins', sans-serif;
}

.container{
  height: 840px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header{
  text-align: center;
}

.header h3{
  font-weight: 500;
}

.add-notes{
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.note{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.no-val{
  padding-top: 30px;
  font-weight: 400;
}

.add-notes .note button{
  display: inline-block;
  outline: 0;
  border: none;
  width: 0;
  height: 15px;
  scale: 1.7;
  margin: 0;
  background-color: transparent;
  margin-left: 10px;
  transition: 300ms;
}

.add-notes .note button:hover{
  color: rgb(33, 31, 31);
  transition: 300ms;
}

.list{
  width: auto;
  height: auto;
  display: flex;
  margin-top: 20px;
  height: auto;
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 10px;
  column-gap: 20px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.list::-webkit-scrollbar{
  background-color: #dbdbdb;
  width: 6.5px;
}

.list::-webkit-scrollbar-thumb{
  background-color: #a4a4a4;
}

.list::-webkit-scrollbar-track{
  background-color: #4b4646;
}

h3{
  padding-bottom: 10px;
}

i #down-arrow{
 margin-right: -30px;
 margin-top: -47px;
 float: right;
}

.items{
  background-color: #ffe047;
  height: 185px;
  width: 205px;
  margin: 13px;
  position: relative;
  padding: 8px;

}

.items button{
  background: transparent;
  /* border: 1.3px gray solid; */
  border: 0;
  outline: none;
  float: right;
  margin: auto;
  
}

.list .items .edit-input{
  border: 1px black solid;
  margin: 0 10px;
  height: 77%;
  outline: none;
  resize: none;
}

.notes-text{
  background: transparent;
  position: absolute;
  height: 90%;
  width: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border: 0;
  outline: none;
  resize: none;

}

.rem-all{
  margin-top: 20px;
  background-color: #F2BDB4;
  width: 200px;
  height: 40px;
  border: 0;
  outline: none;
  transition: background-color 400ms;
}

.rem-all:hover{
  background-color: rgb(86, 111, 120);
  transition: background-color 400ms;
}

.notes-text::-webkit-scrollbar{
  background-color: transparent;
  width: 1.5px;
}

.notes-text::-webkit-scrollbar-thumb{
  background-color: #4e4d4d;
}

.notes-text::-webkit-scrollbar-track{
  background: transparent;
}

.list .items #edit-btn, #edit-btn-trash{
  margin: 10px 2px;
  margin-right: 5px;
}
 
.list .items #edit-btn:hover{
  scale: 1.5;
  transition: 300ms;
}

.list .items #edit-btn{
  transition: 300ms;
}

#edit-btn-trash:hover{
  scale: 1.1;
  transition: 300ms;
}

#edit-btn-trash{
  transition: 300ms;
}


.list .items #edit-btn{
  margin-top: 10.5px;
  scale: 1.3;
}

.list .items .pencil-btn:hover{
  scale: 1.1;
  transition: 300ms;
}

.list .items .pencil-btn{
  transition: 300ms;
}


#btn-trash{
  margin-right: -5px;
  transition: 300ms;
}

#btn-trash:hover{
  scale: 1.1;
  transition: 300ms;
}

.add-notes .note textarea{
  resize: none;
  width: 400px;
  height: 120px;
  padding: 0;
  margin-left: 20px;
  border: none;
  outline: 0;
}